$primary-dark: #100e1d;
$secondary-dark: #1e213a;
$primary-white: #e7e7eb;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 2.7rem;
  font-weight: 400;
  color: $primary-white;
  background-color: $primary-dark;
  position: relative;

  & a {
    text-decoration: none;
    color: inherit;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.main {
  display: flex;
  overflow-x: hidden;
}

.fade {
  filter: blur(10px);
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  &--hide {
    display: none;
  }

  &__form {
    position: relative;
  }

  &__input {
    padding: 1.5rem 3rem;
    font-size: 3.5rem;
    font-family: inherit;

    border: none;
    outline: none;
    border-radius: 2rem;
  }
  &__input-btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(/img/icons/search-solid.svg);
    border: none;
    background-color: transparent;
  }
}
